@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --color-canvas-subtle: var(--fallback-b3,oklch(var(--b3)/1)) !important;
    scroll-padding-top: 80px;
}

[dir="rtl"] [class*="space-x"] > :not(template) ~ :not(template) {
    --space-x-reverse: 0 !important;
    margin-left: calc(1rem * var(--space-x-reverse)) !important;
    margin-right: calc(1rem * calc(1 - var(--space-x-reverse))) !important;
}

/* html:not([data-theme='light']) .wmde-markdown-var , */
html:not([data-theme='light']) .wmde-markdown-color {
    --tw-text-opacity: 1;
    --color-border-muted: var(--fallback-bc,oklch(var(--bc)/0.5)) !important;
    --color-fg-default: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity))) !important;
    --color-fg-muted: var(--fallback-bc,oklch(var(--bc)/0.8)) !important;
    --color-fg-subtle: #6e7781 !important;
    --color-canvas-default: var(--fallback-b1,oklch(var(--b1)/1)) !important;
    --color-canvas-subtle: var(--fallback-b3,oklch(var(--b3)/1)) !important;
    @apply bg-base-100 !important
}

.wmde-markdown * {
    @apply border-base-content/50 !important
}

.wmde-markdown img {
    @apply w-full py-1 !important
}

#modal-root * {
    @apply border-base-content/20 !important
}

.wmde-markdown blockquote {
    @apply bg-warning/30 p-2 !important
}

[dir="rtl"] .wmde-markdown blockquote {
    border-left: 0px !important;
    @apply border-s-4 !important
}

.section-title {
    @apply text-3xl font-bold text-primary
}

.section-title span {
    @apply border-b-2 border-primary
}

.navbar .btn.btn-md.rounded-btn.active{
    @apply btn-primary md:btn-ghost md:border-b-2 md:border-b-primary/60 md:rounded-b-none
}

.drawer-side .menu li > *:not(ul):not(.menu-title):not(details):active, .drawer-side .menu li > *:not(ul):not(.menu-title):not(details).active, .drawer-side .menu li > details > summary:active {
    @apply bg-primary
}